# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
.build/
dist/
.eggs/
*.egg-info/
.installed.cfg
*.egg
*.whl

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
*.swp

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Testing / coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Linting / type checking
.mypy_cache/
ruff_cache/
.pyre/

# Logs
*.log

# dotenv
.env
.env.*

# Local database
*.sqlite3
*.db

# MongoDB dumps
dump/
*.mongodb

# Others
*.bak
*.tmp
*.old
